:root {
    --primary-color: #6366F1;
    --primary-hover: #4F46E5;
    --background-color: #F9FAFB;
    --input-border: #D1D5DB;
    --text-color: #111827;
    --card-bg: #FFFFFF;
    --danger-background: #dc3545;
    --success-background: #28a745;
}